.footer {
  background: #f5f5f7;
  padding: 2rem;
}

.footer-heading {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem; /* reduce space */
}

.brand-line {
  color: #242324;
  font-weight: bold;
  margin: 0.5rem 0;
}

.city-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0 1rem 0;
}

.city-list {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  gap: 2rem;
  margin-top: 2rem;
}

.about p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 0.5rem;
}

.apps .app-buttons {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}

.apps .app-buttons img {
  height: 42px;
}

.social-icons {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.footer-copy {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #666;
}
.logo-text {
  color: #007bff; /* Blue for "yes" */
  font-weight: 700;
}

.logo-text .pink {
  color: #ff007f; /* Pink for "madam" */
}
